#about {
    background-color: #313615;
    color: white;
    font-family: var(--secondary-font);
}

h2 {
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
}

.headtext h2 {
    padding-top: 3rem;
}

.about-text {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    background-image: url('../Images/pawprint.png');
    background-position: center;
    background-size: 50vw;
    background-repeat: no-repeat;
}

.about-text p {
    font-weight: 200;
    text-align: justify;
}

hr.about-separator {
    border: 1px thin white;
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.person-img, .dog-img {
    width: 30vw;
    height: 30vw;
}

.person-img img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.team-person {
    display: flex;
    align-items: center;
    gap: 10vw;
    padding-bottom: 1rem;
}

.dog-img img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dogs-section {
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 3.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.dog-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.dog-container p {
    text-align: center;
    padding-top: 1rem;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .about-text {
        background-size: 30vw;
    }

    .team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .team-person {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #about h2 {
        font-size: 1.7rem;
    }

    .person-img, .dog-img {
        width: 20vw;
        height: 20vw;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1536px) {
    .headtext p {
        font-size: 3vw;
        padding-bottom: 2rem;
    }

    .team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 50vw;
    }

    .team-person {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h2 {
        font-size: 2vw;
    }

    .about-text {
        width: 70vw;
        background-image: url("../Images/pawprintRotate.png");
        background-size: 15vw;
        background-position: right;
    }

    .about-text p {
        width: 90%;
        text-align: left;
        font-size: 1.5vw;
    }

    .person-img, .dog-img {
        width: 12vw;
        height: 12vw;
        overflow: hidden;
        transition: transform 0.5s, filter 0.5s ease-in-out;
        transform-origin: center center;
    }

    .person-img:hover, .dog-img:hover {
        filter: brightness(100%);
        transform: scale(1.1);
    }

    .team-person > :nth-child(2) {
        font-size: 1.5vw;
    }

    .dogs-section {
        justify-content: center;
        gap: 4vw;
        padding-bottom: 5vh;
    }

    .dog-container p {
        font-size: 1.5vw;
    }
}


@media only screen and (min-width: 1536px) {
    .about-text {
        width: 60vw;
        background-image: url("../Images/pawprintRotate.png");
        background-size: 10vw;
        background-position: right;
    }

    .about-text p {
        width: 90%;
        font-size: 1.3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .person-img, .dog-img {
        width: 10vw;
        height: 10vw;
        overflow: hidden;
        transition: transform 0.5s, filter 0.5s ease-in-out;
        transform-origin: center center;
        filter: brightness(50%);
    }

    .person-img:hover, .dog-img:hover {
        filter: brightness(100%);
        transform: scale(1.1);
    }

    .team-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 50vw;
    }

    .team-person {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .team-person > :nth-child(2), .dog-container p {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 1920px) {
    .about-text {
        width: 45vw;
        background-size: 7vw;
    }

    .about-text p {
        text-align: left;
    }
}