#about {
    background-color: rgb(29,29,29);
    color: white;
    font-family: var(--secondary-font);
}

.headtext p {
    text-align: center;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 7vw;
    color: white;
    padding-top: 3vh;
    padding-bottom: 2vh;
}

.about-text {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3vh;
    background-image: url('../Images/pawprint.png');
    background-position: center;
    background-size: 60vw;
    background-repeat: no-repeat;
}

.about-text p {
    font-weight: 200;
    text-align: justify;
}

h2 {
    text-align: center;
    font-size: 4.5vw;
    font-weight: 600;
    padding-bottom: 3vh;
}

hr.about-separator {
    border: 1px thin white;
    width: 40%;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.person-img, .dog-img {
    width: 30vw;
    height: 30vw;
}

.person-img img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.team-person {
    display: flex;
    align-items: center;
    gap: 10vw;
    padding-bottom: 3vh;
}

.team-person > :nth-child(2) {
    font-size: 4vw;
}

.dog-img img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dogs-section {
    display: flex;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    padding-bottom: 3vh;
}

.dog-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.dog-container p {
    text-align: center;
    padding-top: 1vh;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-text {
        background-size: 50vw;
    }

    .about-text p {
        font-size: 3vw;
    }

    .team-person > :nth-child(2) {
        font-size: 3vw;
    }

    .dog-container p {
        font-size: 3vw;
    }

    h2 {
        font-size: 4vw;
    }

    #about .headtext p {
        font-size: 6vw;
    }

    .person-img {
        margin-left: 10vw;
    }

    .person-img, .dog-img {
        width: 20vw;
        height: 20vw;
    }
}

/* Large devices (Laptops/Desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .headtext p {
        font-size: 3vw;
    }

    h2 {
        font-size: 2vw;
    }

    .about-text {
        width: 50vw;
        background-image: url("../Images/pawprintRotate.png");
        background-size: 9vw;
        background-position: right;
    }

    .about-text p {
        width: 85%;
        text-align: left;
    }

    .team-container {
        width: 50vw;
    }

    .person-img, .dog-img {
        width: 12vw;
        height: 12vw;
    }

    .team-person > :nth-child(2) {
        font-size: 1.2vw;
    }

    .dogs-section {
        justify-content: center;
        gap: 4vw;
        padding-bottom: 5vh;
    }

    .dog-container p {
        font-size: 1.2vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about-text {
        background-size: 6vw;
    }
}