#contact {
    background-color: rgb(29,29,29);
    color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  border: none;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  outline: none;
  color: white;
  background-color: rgb(29,29,29);
}

.contact-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-font);
    padding-bottom: 4vh;
}

textarea {
  height: 20vh;
  font-family: var(--secondary-font);
  resize: none;
}

.btn-send {
  background-color: rgb(29,29,29);
  color: white;
  padding: 12px 20px;
  border: none;
  border-left: 3px solid white;
  border-right: 3px solid white;
  outline: none;
  cursor: pointer;
  width: 40%;
}

.form-container {
  border-radius: 5px;
  padding: 20px;
}

.head-title {
  font-weight: 600;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--secondary-font);
    padding-bottom: 3rem;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1536px) {
  .contact-container {
    width: 50vw;
  }
}

@media only screen and (min-width: 1536px) {
  .contact-container {
    width: 40vw;
  }

  .btn-send {
    width: 9vw;
  }
}

@media only screen and (min-width: 1920px) {
  .contact-container {
    width: 30vw;
  }

  .btn-send {
    width: 5vw;
  }
}