@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Karla', serif;
    --primary-color: #bcb8b1;
    --secondary-color: #d6d6d6;
    --navbar-color: white;
    --title-color: black;
    --items-color: black;
    scroll-behavior: smooth;
}

body {
    font-size: calc(16px + 0.390625vw);
}

.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    font-family: var(--primary-font);
    font-weight: 400;
    z-index: 2;
    transition: background-color 200ms;
}

#navbar.sticking {
    background-color: var(--navbar-color);
}
  
.topnav #myLinks {
    display: none;
}

.topnav a {
    color: var(--title-color);
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

#main {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../Images/man-89350.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-height: 100svh;
    font-family: var(--primary-font);
}

.we-are {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color: white;
    margin-top: 40vh;
    margin-bottom: 1rem;
}

div.text h1:nth-child(1) {
    font-weight: 200;
    font-size: 8vw;
}

div.text h2:nth-child(2) {
    font-weight: 700;
    font-size: 7vw;
    color: white;
}

hr.rounded {
    border: 1px solid white;
    width: 50%;
}

.socials {
    color: white;
    display: flex;
    gap: 2rem;
    font-size: 5vw;
    margin-top: 1rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-15px);
    }
    15% {
        transform: translateY(-3px);
    }
    20% {
        transform: translateY(-8px);
    }
    40%, 100% {
        transform: none;
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    15% {
        transform: translateY(-5px);
    }
    20% {
        transform: translateY(-7px);
    }
    40%, 100% {
        transform: none;
    }
}

@keyframes bounce3 {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-17px);
    }
    15% {
        transform: translateY(-5px);
    }
    20% {
        transform: translateY(-8px);
    }
    40%, 100% {
        transform: none;
    }
}

.socials a {
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
}

.socials a:hover {
    transform: scale(1.5);
}

.fixed-footer {
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 200;
    padding-top: 2rem;
}

.fixed-footer a {
    text-decoration: none;
    color: var(--items-color);
}

.fixed-footer {
    font-size: .8rem;
}

@media only screen and (max-width: 768px) {
    .socials a:nth-child(1) {
        animation: bounce 5s infinite;
    }

    .socials a:nth-child(2) {
        animation: bounce2 4s infinite;
    }

    .socials a:nth-child(3) {
        animation: bounce3 6s infinite;
    }

    .socials a:nth-child(4) {
        animation: bounce 3s infinite;
    }
}
  

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: calc(18px + 0.390625vw);
    }

    .topnav {
        display: flex;
        justify-content: space-between;
    }

    .topnav #myLinks {
        display: inline-flex;
    }

    .topnav a.icon {
        display: none;
    }

    .fixed-footer {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1536px) {
    body {
        font-size: calc(19px + 0.390625vw);
    }

    .topnav {
        display: flex;
        justify-content: space-between;
    }

    .topnav #myLinks {
        display: inline-flex;
    }

    .topnav a.icon {
        display: none;
    }

    div.text h1:nth-child(1) {
        font-size: 7vw;
    }
    
    div.text h2:nth-child(2) {
        font-size: 6vw;
    }

    .socials {
        font-size: 4vw;
    }

    .fixed-footer {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1536px) {
    body {
        font-size: calc(21px + 0.390625vw);
    }

    .headtext {
        padding-bottom: 4rem;
    }

    .topnav {
        display: flex;
        justify-content: space-between;
        /* top: 50px; */
    }

    .topnav #myLinks {
        display: inline-flex;
    }

    .topnav a.icon {
        display: none;
    }

    div.text h1:nth-child(1) {
        font-size: 5vw;
    }
    
    div.text h2:nth-child(2) {
        font-size: 4vw;
    }

    .socials {
        font-size: 2vw;
    }

    .fixed-footer {
        font-size: 1rem;
    }
}