#news {
    background-color: rgb(214,214,214);
    font-family: var(--secondary-font);
}

#news p {
    color: black;
}

.news-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.news-content {
    padding-bottom: 2vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.news-container > :nth-child(3) {
    grid-template-columns: 2fr 1fr;
}

.news-container > :nth-child(3) >:nth-child(2) {
    grid-column: 1;
}

.news-container > :nth-child(3) >:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
}

.news-content > :nth-child(2) {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}

.news-content > :nth-child(3) {
    grid-column: 1 / span 2;
    text-align: justify;
    padding-top: 1vh;
}

.news-img {
    width: 30vw;
    height: 30vw;
}

.news-img img {
    clip-path: circle();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

hr.news-separator {
    border: 1px solid black;
    width: 50%;
    margin-bottom: 2vh;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #news .headtext p {
        font-size: 6vw;
    }

    .news-img {
        width: 25vw;
        height: 25vw;
    }
    
    .news-img img {
        clip-path: circle();
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .news-content > :nth-child(2) {
        font-size: 4vw;
        text-align: center;
        font-weight: 400;
    }

    .news-content > :nth-child(3) {
        font-size: 2.5vw;
    }
    
    .news-container > :nth-child(5) {
        padding-bottom: 5vh;
    }
}

